# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def add_two(x):
    return x + 2

print(add_two)

<function add_two at 0x000001FDD0C540D0>

In [2]:
lambda x: x + 2

In [3]:
print(lambda x: x + 2)

<function <lambda> at 0x000001FDD0C541F0>

In [4]:
# IIFE - Immediately Invoked Function Expression
# Execute a lambda function immediately after creation
# Syntax:  (lambda x,y,.etc: expression)(arg1,arg2,etc..)

(lambda x: x + 2)(10)

12

#### Saving to a Variable

In [6]:
named_lambda = lambda y: y + 2

print(named_lambda)

named_lambda(15)

<function <lambda> at 0x000001FDD0C545E0>

17

#### Multiple Inputs

In [9]:
def multiply(x, y, z):
    return x * y * z

multiply(10, 5, 2)

100

In [11]:
# As an IIFE
(lambda x, y, z: x * y * z)(10, 5, 2)

100

#### Passing a Function into a Function

In [12]:
def apply_func(f, name):
    """
    f -> function to execute
    name -> name to execute the function on
    """
    return f(name)


def get_first_letter(string):
    return string[0]


apply_func(get_first_letter, 'Brian')

'B'

In [13]:
help(apply_func)

Help on function apply_func in module __main__:

apply_func(f, name)
    f -> function to execute
    name -> name to execute the function on

#### Passing a Lambda into a Function

In [14]:
# Call the apply_func function, pass in a lambda function as argument `f`, pass in "codingtemple" as `name` argument
apply_func(lambda string: string[-1], 'codingtemple')

'e'

In [15]:
apply_func(lambda string: string.upper(), 'lowercase to uppercase')

'LOWERCASE TO UPPERCASE'

#### Returning a Function from a Function

In [17]:
# Regularly defined function
# Takes in a `num` argument

def create_multiplier(num):
    # Define a locally scoped function that takes an `x` argument
    def inner_func(x):
        # Return x * the outer scopes `num` value
        return x * num
    # Return the reference to the function defined within this create_multiplier function
    return inner_func


five_times = create_multiplier(5)
print(five_times)
five_times

<function create_multiplier.<locals>.inner_func at 0x000001FDD0C2A700>

In [18]:
five_times(10)

50

In [19]:
five_times(5)

25

In [20]:
print(num)

NameError: name 'num' is not defined

In [21]:
three_times = create_multiplier(3)
print(three_times)

<function create_multiplier.<locals>.inner_func at 0x000001FDD0D17A60>

In [22]:
three_times(10)

30

#### Returning a Lambda from a Function

In [31]:
# Create a function that takes in a num
def new_multiplier(num):
    # Return the lambda function that takes in an x and will multiply x by the outer scope's num
    return lambda x: x * num

five = new_multiplier(5)
print(five)

three = new_multiplier(3)
print(three)

print(five(10), three(10))

<function new_multiplier.<locals>.<lambda> at 0x000001FDD0D17E50>
<function new_multiplier.<locals>.<lambda> at 0x000001FDD0CD1670>
50 30

#### If Statements within Lambdas

In [33]:
def do_something(num):
    if num > 10:
        return num ** 2
    else:
        return num + 10
    
    
do_something(5)

15

In [35]:
# Ternary: value_if_true if condition else value_if_false

def do_something_again(num):
    return num ** 2 if num > 10 else num + 10

do_something_again(5)

15

In [37]:
# lambda input(s): <value to return if True> if <condition> else <value to return if false>

# IIFE
(lambda num: num ** 2 if num > 10 else num + 10)(5)

15

In [39]:
a_list = []
for i in range(10):
    if i % 2 == 0:
        a_list.append('even')
    else:
        a_list.append('odd')
        
print(a_list)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [40]:
my_list = ['even' if num % 2 == 0 else 'odd' for num in range(10)]
print(my_list)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [42]:
age = int(input('How old are you? '))

age_group = 'Adult' if age >= 18 else 'Child'

print(f"As a {age} year old, you are a part of the {age_group} age group!")

How old are you? 100
As a 100 year old, you are a part of the Adult age group!

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f' and call it OR set up as an IIFE.</p>

In [44]:
f = lambda brian: brian ** 3

print(f)

f(10)

<function <lambda> at 0x000001FDD0D470D0>

1000

In [45]:
(lambda num: num ** 3)(10)

1000

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

In [46]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### Syntax

In [49]:
# Function that we want to apply to each element in the list
def squared_minus_two(number):
    return number**2 - 2

# Random List
numbers = [2, 5, 2, 7, 5, 3, 4, 9]

# Create an empty list
new_nums = []
# Loop over the current numbers list
for num in numbers:
    # apply the function to that element
    new_num = squared_minus_two(num)
    # Append the new num to the new_nums list
    new_nums.append(new_num)
    
print(new_nums)

[2, 23, 2, 47, 23, 7, 14, 79]

In [52]:
# map(function, *iterables -> List, Tuple, String, Set, Dict, etc.)

list(map(squared_minus_two, numbers))

[2, 23, 2, 47, 23, 7, 14, 79]

In [53]:
x_values = [1, 2, 3, 4, 5, 6, 7]
y_values = [10, 12, 22, 32, 45, 65, 34]

def multiply(x, y):
    print(f"x={x}, y={y}")
    return x * y


list(map(multiply, x_values, y_values))

x=1, y=10
x=2, y=12
x=3, y=22
x=4, y=32
x=5, y=45
x=6, y=65
x=7, y=34

[10, 24, 66, 128, 225, 390, 238]

In [54]:
x_values = [1, 2, 3, 4, 5, 6, 7]
y_values = [10, 12, 22]

def multiply(x, y):
    print(f"x={x}, y={y}")
    return x * y


list(map(multiply, x_values, y_values))

x=1, y=10
x=2, y=12
x=3, y=22

[10, 24, 66]

In [57]:
list(map(multiply, x_values))

TypeError: multiply() missing 1 required positional argument: 'y'

#### Using Lambda's with Map

In [58]:
# def squared_minus_two(number):
#     return number**2 - 2

numbers_again = [4, 7, 2, 5, 14, 9]

list(map(lambda num: num**2-2, numbers_again))

[14, 47, 2, 23, 194, 79]

In [62]:
x_vals = [1, 2, 3, 4]
y_vals = [10, 20, 30, 40]

list(map(lambda a, b: b//a, x_vals, y_vals))

[10, 10, 10, 10]

In [66]:
my_map_iterator = map(lambda a, b: b//a, x_vals, y_vals)

print(my_map_iterator)

<map object at 0x000001FDD0D5CC70>

In [67]:
for num in my_map_iterator:
    print(num)

10
10
10
10

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number if it is even and halve it if it is odd</p>

In [ ]:
numbers = range(1,11)

# [0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

In [68]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [71]:
# List of names
names = ['Bob', 'Billy', 'Alex', 'Amanda', 'Amy', 'Barbara', 'Catherine']

def starts_with_a(name):
    return name[0].upper() == 'A'

# Create a new list by applying the starts_with_a to every name in names via the map
a_names_map = list(map(starts_with_a, names))
print(a_names_map)

[False, False, True, True, True, False, False]

#### Syntax

In [72]:
# filter(function_to_apply, iterable -> List, Tuple, Set, Dict, String, etc.) => filter object

a_names_filter = list(filter(starts_with_a, names))
print(a_names_filter)

['Alex', 'Amanda', 'Amy']

In [80]:
def remainder(num):
    # Take in a number and returns the remainder after dividing by 3
    return num % 3

my_nums = [x for x in range(1,11)]
print(my_nums)
list(map(remainder, my_nums))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [82]:
list(filter(remainder, my_nums))
# Returns the value of the original list (my_nums) if the return value from remaind(num) EVALUATES to True

[1, 2, 4, 5, 7, 8, 10]

In [83]:
for i in range(-10, 11):
    print(i, bool(i))

-10 True
-9 True
-8 True
-7 True
-6 True
-5 True
-4 True
-3 True
-2 True
-1 True
0 False
1 True
2 True
3 True
4 True
5 True
6 True
7 True
8 True
9 True
10 True

#### Using Lambda's with Filter()

In [87]:
list(filter(lambda name: True if name[0].upper() == 'A' else False, names))

['Alex', 'Amanda', 'Amy']

In [90]:
list(filter(lambda name: name[0].upper() == 'A', names))

['Alex', 'Amanda', 'Amy']

In [91]:
list(filter(lambda num: num % 3, my_nums))

[1, 2, 4, 5, 7, 8, 10]

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [115]:
from random import randint

# Create a list of 20 random numbers between 1 and 100
random_nums = [randint(1, 100) for _ in range(20)]
print(random_nums)

[92, 69, 28, 89, 4, 91, 47, 29, 18, 36, 73, 87, 16, 73, 48, 33, 28, 53, 38, 11]

In [118]:
from statistics import mean

avg = mean(random_nums)
print(avg)

list(filter(lambda num: num > avg, random_nums))

48.15

[92, 69, 89, 91, 73, 87, 73, 53]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [122]:
from functools import reduce

help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [125]:
def add_nums(x, y):
    print('='*20)
    print(f"x: {x}")
    print(f"y: {y}")    
    print(f"returns: {x + y}")  
    return x + y


result_add = reduce(add_nums, [1, 2, 3, 4, 5])
print(result_add)

====================
x: 1
y: 2
returns: 3
====================
x: 3
y: 3
returns: 6
====================
x: 6
y: 4
returns: 10
====================
x: 10
y: 5
returns: 15
15

In [126]:
total = 0
for num in [1, 2, 3, 4, 5]:
    print(f"Total: {total}, Num: {num}")
    total += num
    
print(total)

Total: 0, Num: 1
Total: 1, Num: 2
Total: 3, Num: 3
Total: 6, Num: 4
Total: 10, Num: 5
15

#### Using Lambda's with Reduce()

In [127]:
list1 = [2, 4, 6, 8, 10]

result_lambda = reduce(lambda num1, num2: num1*num2, list1)
print(result_lambda)

3840

In [128]:
prod = 1
for num in list1:
    prod *= num
print(prod)

3840

In [130]:
def multiply_nums(num1, num2):
    print('='*20)
    print("num1", num1)
    print("num2", num2)
    print(num1 * num2)
    return num1 * num2


reduce(multiply_nums, list1)

====================
num1 2
num2 4
8
====================
num1 8
num2 6
48
====================
num1 48
num2 8
384
====================
num1 384
num2 10
3840

3840

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [142]:
import time

def capitalize(name):
    # Takes in a name, upper cases the first letter and lowercases the rest
    return name[0].upper() + name[1:].lower()

def full_name(first, last):
    time.sleep(5)
    # take in a first name, calls the capitalize function on first, takes in last, calls capitalize on last
    # returns concatenated string of first + space + last
    return capitalize(first) + ' ' + capitalize(last)

def greet_person(first_name, last_name, day_of_week):
    # Takes in first name, last_name, and day of the week
    # sets the person_full_name variable to the return value when full_name function is called by passing first_name, last_name
    person_full_name = full_name(first_name, last_name)
    # Print a greeting to person
    print(f"Hello {person_full_name}, it sure is beautiful on this {capitalize(day_of_week)}")

greet_person('bRiAn', 'stANton', 'tuesday')

Hello Brian Stanton, it sure is beautiful on this Tuesday

#### Implementing a Base Case

In [152]:
def add_nums(num):
    # Set up a base case
    if num <= 1:
        print(f"add_nums({num}) = {num}")
        return num
    else:
        print(f"add_nums({num}) = {num} + add_nums({num-1})")
        val = num + add_nums(num - 1)
        return val
    
    
add_nums(10)

add_nums(10) = 10 + add_nums(9)
add_nums(9) = 9 + add_nums(8)
add_nums(8) = 8 + add_nums(7)
add_nums(7) = 7 + add_nums(6)
add_nums(6) = 6 + add_nums(5)
add_nums(5) = 5 + add_nums(4)
add_nums(4) = 4 + add_nums(3)
add_nums(3) = 3 + add_nums(2)
add_nums(2) = 2 + add_nums(1)
add_nums(1) = 1

55

#### Writing a Factorial Function

In [149]:
# n! = n * n-1!
# 5! = 5 * 4!
# 4! = 4 * 3!
# ...
# 1! = 1

def factorial(num):
    # Setting up the base case = when the num is 1 or less, returns 1
    if num <= 1:
        return 1
    # Otherwise, the factorial of num = num * factorial(num - 1)
    else:
        return num * factorial(num - 1)
    
    
factorial(5)

120

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [153]:
def sub_nums(num):
    # Set up a base case
    if num <= 1:
        print(f"sub_nums({num}) = {num}")
        return num
    else:
        print(f"sub_nums({num}) = {num} - sub_nums({num-1})")
        val = num - sub_nums(num - 1)
        return val
    
    
sub_nums(10)

sub_nums(10) = 10 - sub_nums(9)
sub_nums(9) = 9 - sub_nums(8)
sub_nums(8) = 8 - sub_nums(7)
sub_nums(7) = 7 - sub_nums(6)
sub_nums(6) = 6 - sub_nums(5)
sub_nums(5) = 5 - sub_nums(4)
sub_nums(4) = 4 - sub_nums(3)
sub_nums(3) = 3 - sub_nums(2)
sub_nums(2) = 2 - sub_nums(1)
sub_nums(1) = 1

5

In [156]:
def recursion(num):
    if num == 0:
        return 0
    return num + recursion(num - 1)

recursion(5)

15

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [157]:
lengths = map(len, ['Brian', 'Stanton', 'Coding Temple'])

print(lengths)

<map object at 0x000001FDD0D8F820>

In [160]:
for item in lengths:
    print(item)

5
7
13

In [161]:
for item in lengths:
    print(item)

In [162]:
help(iter)

Help on built-in function iter in module builtins:

iter(...)
    iter(iterable) -> iterator
    iter(callable, sentinel) -> iterator

    Get an iterator from an object.  In the first form, the argument must
    supply its own iterator, or be a sequence.
    In the second form, the callable is called until it returns the sentinel.

In [163]:
help(next)

Help on built-in function next in module builtins:

next(...)
    next(iterator[, default])

    Return the next item from the iterator. If default is given and the iterator
    is exhausted, it is returned instead of raising StopIteration.

In [173]:
a_new_list = [2, 3, 4, 5, 6, 7, 8]

list_iter = iter(a_new_list)
print(list_iter)

<list_iterator object at 0x000001FDD0D60460>

In [175]:
next(list_iter)

3

In [176]:
for x in list_iter:
    print(x)

4
5
6
7
8

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [177]:
def my_range_iter(start, stop, step=1):
    while start < stop:
        return start
        start += step
        
        
my_range_iter(0,10)

0

In [179]:
def my_range_iter(start, stop, step=1):
    while start < stop:
        yield start
        start += step
        
        
for x in my_range_iter(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [180]:
my_range = my_range_iter(10,30,2)

In [191]:
next(my_range)

StopIteration:

#### Infinite Generator

In [192]:
# bad, never create infinite loops
def infinite(x):
    while True:
        yield x
        x += 1
        
infinite_gen = infinite(1)

In [274]:
next(infinite_gen)

82

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [ ]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name (case insensitive!)...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [ ]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

In [276]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [277]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [279]:
print(names)
print(sorted(names, key=len))

['Bob', 'Billy', 'Alex', 'Amanda', 'Amy', 'Barbara', 'Catherine']
['Bob', 'Amy', 'Alex', 'Billy', 'Amanda', 'Barbara', 'Catherine']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]
`

In [ ]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(6) => 
Iteration 0: 0
Iteration 1: 1
Iteration 2: 1
Iteration 3: 2
Iteration 4: 3
Iteration 5: 5
Iteration 6: 8`

In [283]:
def fib(num):
    return num

fib(6) # 8

6

In [284]:
n = 7
for i in range(n):
    print(f"Iteration {i}: {fib(i)}")

Iteration 0: 0
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 4
Iteration 5: 5
Iteration 6: 6

### Exercise #5 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [ ]:
def my_gen(number):
    pass

for num in my_gen(10):
    print(num)
    
# 100
# 81
# 64
# 49
# 36
# 25
# 16
# 9
# 4
# 2
# 1
# 0